.firstNav {
  background-color: #04419c;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.253);
  font-size: 20px;
  height: 8vh;
}

.logName{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;  
}


.iconsRight{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  align-items: center;
 
}


/*revisar */ 
@media (max-width: 889px) {
    .firstNav{        
        justify-content: space-evenly;
        height: 8vh;
    }
    .firstNav p{
        margin-right: 0px !important;
      }
      .logName{
        
        margin-left: 0rem;
        
      }
      
    .hardspace h1 {
        display: none;
      }
      
    .signClass h5{
        display: none !important;

    }
    .signClass a{
        display: none !important;

    }

    .imgLogo{
      width: 4rem;
      
    }
    .navigation{
      justify-content: space-around !important;
}
}


.input-catalog {
  display: flex;
  align-items: center;
  width: 30%;
  
}

.inputcatalog {
  margin: 0!important;
  height: 50px;  
  padding: 0.5rem;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 5px 0 0 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.lens {
  font-size: 20px;
  display: flex;
  width: 65px;
  height: 50px;
  background-color: #16bbdcc4;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}

.create-account {
  display: flex;
  color: white;
}

.shop {
  display: flex;
  color: white;
}

.badge{
  font-size: 15px;
  border-radius: 50% ;
  width: 20px;
  height: 20px;
  background-color: lightseagreen;
 text-align: center;
 margin-left: 2px; 
}

.iconUser {
  font-size: 3rem;
}


.signClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}
.signClass h5 {
  text-align: left;
  margin-left: 0.5rem;
}

.signCart{
  display: flex;
  
  justify-content: center;
  align-content: flex-start;
}

.signintoadd{
  font-size: 16px;
}

.imgUserNav{
  width: 3rem;
  height: 3rem;
  border-radius: 50%; 
  object-fit: cover;
  
  margin-right: 0.5rem;
}


.secondNav {
  background-color: #04419c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.253);
  font-size: 20px;
  height: 8vh;
}

.secondNav p:hover {
  color: rgba(255, 255, 255, 0.705);
  cursor: pointer;
  text-decoration: underline;
}

span a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: 'Dosis', sans-serif;
  }
  
  /*effect-underline*/
  a.effect-underline:after {
      content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0,1);
      transform: scale(0,1);
  }
  
  a.effect-underline:hover:after {
    opacity: 1;
      -webkit-transform: scale(1);
  }

.firstNav p {
  margin-right: 3rem;
}

.navigation {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between;
  background-color: #04419c;
  
}

.hardspace {
  font-size: 40px;
  color: white;
}

.imgLogo{
  width:4rem;
  margin: 0.5rem;
}
/* @media (min-width: 889px) {
  .imgLogo{
    width: 4rem;
 }
.navigation h1{
    font-size: 40px;
  }

  .logName{
   width: 35%;
   display: flex !important;
   justify-content: center;
   justify-content: space-evenly;
    
  }
  .input-catalog {
    width: 30%;
  }
} */

 @media (min-width: 1000px){

 }

@media (max-width: 999px) {
  .firstNav{        
      justify-content: space-evenly;
      height: 8vh;
  }
  .firstNav p{
      margin-right: 0px !important;
    }

.logName{
  display: flex;
  justify-content: center;
}
  .hardspace h1 {
     font-size: 30px;
    }
    

  .imgLogo{
    width: 3rem;    
  }

  .navigation{
    justify-content: space-around !important;
  }
}

@media (max-width: 750px){
  .signClass h5{
    font-size: 15px;
  }

  .signClass{
    font-size: 15px;
  }

  .imgLogo{
    display: none;
   
  }

  .logName{
    width: 20%!important;
  }

  .iconsRight{
    width: 35%;
  }
}

@media (max-width: 620px){
  /* .hardspace{
    display: none;
  } */
  .navigation{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 160px;
  }

  .input-catalog{
    width: 50%;
  }



  .iconsRight{
    width:60%;
  }
}

@media (max-width: 460px) {
  .firstNav .firstP{
    font-size: 15px;
  }
  .navigation{
    height: 25vh;
  }
  .hardspace h1 {
    display: none;
  }

  .imgLogo{
    display: none;
  }
  .inputcatalog{
    width: 50vw !important;
  }

  .secondNav .secondSpan{
    font-size: 20px!important;
  }
}
