@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* images */

.containerCarousel {
  height: 400px;
  padding: 2rem;
}

.titleCarousel {
  font-size: 20px;
  margin: 2rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(25, 196, 196);
  display: inline;
}

.cardCarousel {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 23rem;
  color: rgb(0, 0, 0);
  width: 239px;
  justify-content: space-around !important;
  box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
  -webkit-box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
  -moz-box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
}

.slider {
  margin: 2rem !important;
}
.imgCarousel {
  height: 12rem;
}

.txtCarousel {
  display: flex;
  justify-content: center;
  height: 5rem;
  background-color: rgba(43, 43, 42, 0.048);
  align-items: center;
  font-weight: bold;
}

.txtCarousel:hover {
  color: rgb(32, 202, 188);
}

.price-button {
  font-weight: bold;
  color: rgb(168, 168, 168);
  display: flex;
  justify-content: space-evenly;
  height: 5rem;
  padding:0.5rem;
 
}

.price-button a{
  text-align: center;

}
.buttonCarousel {
  font-weight: bold;
  color: white;
  /* padding: 0.5rem; */
  background-color: rgb(25, 196, 196);
  border-radius: 5px;
  width: 64px;
  display:flex;
  align-items: center;
  justify-content: center;
}



.buttonCarousel2{
  
  font-weight: bold;
  color: white;
  
  background-color: rgb(25, 196, 196);
  border-radius: 5px;
  width: 100px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.carouselButtons{
  display: flex;
  justify-content: space-evenly;
}

.slick-track {
  width: 100%;
  height: 180px;
}
.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 1rem -20px;
  height: 427px;
}

/* SIGN IN, SIGN UP */

.signUpTittle h2, .signInTittle h2{
  font-weight: bold;
  color:#cfcfcf;
  font-size: 7vmin;
}

.signUpTittle h4, .signInTittle h4 {
  font-size: 3vmin;
}

.signUpBack, .signInBack {
  background-repeat: no-repeat;
  width: 100%;
  min-height: 90vh;
  background-size:cover;
  background-position:center center;
}
.signInBack, .signUpBack{
  min-height: 90vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.signInBack {
min-height: 86vh;
}

.signInTittle{
  padding: 2rem;
}

.formContainer, .formContainerSignIn{
  padding: 2rem 2rem;
  width:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formContainer form, .signInForm {
  width: 100%;
  display:flex;
  flex-direction: column;
}

form input, form select, .signInForm input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 90%;
}

.formButtons{
  display: flex;
  flex-direction: column;
}

.formButtons button {
  padding: .3rem 0;
  margin: .2rem;
}

form span, .signInForm span {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1vh;
  border: none;
  padding: 2vh 2vw;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 6px 3px rgba(175, 174, 174, 0.253);

}

.eyeIcon {
  cursor: pointer;
}
 /*FOOTER*/

 .deliveryIcon{
   color:white!important;
 }

 .footerBk{
   background-color: rgba(0, 0, 0, 0.644);
   min-height: 4rem!important;
 }

 .footerColor{
   color:White!important;
 }

 .fab{
   color:orange!important;
 }
/*Container Cart*/
.padreContainerCart{
  display:flex;
  justify-content: center;
}
.containerCart{
  /* margin-left: 5rem;
  margin-right:5rem; */
  min-height: 60vh;
  background-color: rgba(245, 239, 239, 0.767);
  display: flex;
  flex-direction: column;
  margin-top:4rem;
  width: 80%;
  align-self: center;
 
 
}

.primerdiv{
  border-bottom: 1px solid #e6e6e6;
  height: 10vh;
align-items: center;
  display: flex;
  justify-content: flex-start;
}

.carrito{
  margin:2rem;
  font-size: 1.2rem;
  font-weight:bold;
}

.guardados{
  margin:2rem;
  font-size: 1.2rem;
  font-weight:bold;
}

.articleContainer{
  border-bottom: 1px solid #e6e6e6;
  display:flex;
  justify-content: center;
  height: 30vh;
  align-items: center;
}

.articleImg{
  
  display:flex;
  justify-content: center;
  margin-right:0.5rem;
  height: 20vh;
  object-fit: cover;
}

.articleInfo{
  width: 70%;
  display:flex;
  flex-direction: column;
}

.articleTitle{
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding:1rem;
}

.deleteAndBuy{
  margin-top:1rem;
  display:flex;
  justify-content: flex-start;

}

.freedelivery{
  font-style: italic;
  font-size: 20px;
  color: #04419c;
}
.delete{  
  margin-right: 1rem;
  font-size: 15px;
}

.delete:hover{
  text-decoration: underline;
}

.articleInput{

  display:flex;
  justify-content: center;
}

#inputCart{
  width:20%;
  text-align: center;
}

.articlePrice{

font-size: 20px;
}

.boton{
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  width:30px;
  height: 30px;
  background-color: #04419c;
  color:white;
  
}

.totales{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 25vh;
  padding: 2rem;
  
}
.totales h3{
  font-size: 20px;
  font-weight: bold;
}
/*formulario add products */

.titleForm{
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 0.5px;
  color:#5469d4;
  margin-top: 3rem;
  margin-bottom: -2rem;
  font-size: 1.5rem;
  font-weight: bolder;
  
}

.formulario{  
  object-fit: cover;
  padding-top:2rem;  
  display: flex;
  justify-content: center;
  align-items:center;
  font-weight: bolder;
}

.form{ 
  color:#04419c;
  display: flex;    
  flex-direction: column;
  align-items: center;
  font-size: normal;
  border: 2px solid #04419c;
  padding: 2rem;
  width: 500px;
	padding: 20px;
	background: #FFFFFF;
	margin: 20px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

label{
  margin:0.3rem;
  align-self: flex-start;
  
}

input, select{
  box-sizing: border-box;
	display: block;
	padding: 5px;
	margin-left: 10px;
	height: 35px;

}
.buttonForm{
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
  margin-top: 2rem;
}
.buttonForm:hover{
  background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  /* height: 427px; */
}

@media (max-width: 420px) {
  .products {
    width: 70%;
  }

  .filter{
    width: 30% !important;
  }

  .textFilter{
    margin-left: 1rem !important;
  }
}

@media (max-width: 353px) {
  .filter{
    width: 25% !important;
}
.textFilter{
  margin-left: 0.5rem !important;
}
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;


  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  padding: 5px;
  object-fit: cover;
}

.swiperAtr {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 30rem;
  color: rgb(0, 0, 0);
  width: 230px;
  justify-content: space-around !important;
  box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
  -webkit-box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
  -moz-box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
}

.swiperFather {
  display: flex;
  justify-content: center;
  width: 25%;
}

@media (max-width: 1110px) {
  .swiperFather {
        width: 33%;
  }
}

@media (max-width: 860px) {
  .swiperFather {
    width: 50%;
}
}

@media (max-width: 650px) {
  .swiperFather {
    width: 100%;
}
}
.txtCarouselProduct {
  display: flex;
  justify-content: center;
  height: 8rem;
  background-color: rgba(43, 43, 42, 0.048);
  align-items: center;
  font-weight: bold;
  text-align: center;
}


/*resposive INDIVIDUAL CART*/
.mediaquery{
  display:flex;

}

.mediaQuery{
  display:flex;
  flex-direction: column;
  align-items: center
}
@media (max-width: 900px){
  .articleContainer{
    height: 30vh;
  }

  /* .articleInfo{
    width: 50%;
  } */
  .articleTitle{
    font-size: 1rem;
  }

  .freedelivery{
    font-size: 15px;
  }

  .articlePrice{
    font-size: 15px;
  }
}

@media (max-width: 680px){
  .articleContainer{
    height: 40vh;
    display:flex;
    flex-direction: column;
   
  }

  .mediaquery{
    width:100%!important;
    display: flex;
    justify-content: space-between;
  }


  .mediaQuery{
    margin-top:1rem;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .articleInput{
    width:40%;
  }

  .articleImg{
   
    display:flex;
    justify-content: center;
    margin-right:0.5rem;
    height: 20vh;
    object-fit: cover;
  }
  .articleInfo{
    width: 70%;
  }
  .articleTitle{
    font-size: 1rem;
  }

  .freedelivery{
    font-size: 15px;
  }

  .articlePrice{
    font-size: 15px;
    
    align-self: center;
  }
}

.filterProduct{
  display: flex;
  
}
.filter{
  width: 10%;
  margin-top: 5rem;
  margin-left: 5vh;
}
@media (max-width: 1100px) {
  .filter{
    width: 15%;
    margin-top: 5rem;
    margin-left: 1vh !important;
  }
}
@media (max-width: 768px) {
  .filter{
    width: 20%;
    margin-top: 5rem;
   
  }
}
@media (max-width: 555px) {
  .filter{
    width: 25%;
    
  }
}

@media (max-width: 369px) {
    .filterContainer p{
      font-size: .9rem;
    }
    .filter{     
      margin-left: 0 !important;
    }
    .filterProduct {
      display: flex;
      justify-content: space-between;
  }
  .swiperAtr {
    width: 200px;
    height: 24.5rem;
  }
}
@media (max-width: 353px) {
  .filterContainer p{
    font-size: .8rem;
  }
  .swiperAtr {
    width: 180px;
  }
  .swiperFather {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    
}
.filter{
  width: 33% !important;

}
.txtCarouselProduct {
  height: 7rem;
}
}
.textFilter{
  margin-left: 3rem;
}

.filter li{
  list-style: none;
}

body::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
}

/* DELETE PRODUCTS */

.delete-products{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-prod {
  width: 70vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: solid 1px #04419c;
  border-radius: 10px;
  margin-top: 10px;
 
}
.delete-prod img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.button-delete {
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  background-color: red;
  border-radius: 5px;
  width: 80px;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
}

.filterContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.filter h3{
  text-align: center;
  font-weight: bold;
}

.filter ul{
  border-bottom: ridge 0.1rem rgb(148, 148, 148);
  margin-left: 2px;
}