@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* images */

.containerCarousel {
  height: 400px;
  padding: 2rem;
}

.titleCarousel {
  font-size: 20px;
  margin: 2rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(25, 196, 196);
  display: inline;
}

.cardCarousel {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 20rem;
  color: rgb(0, 0, 0);
  width: 239px;
  justify-content: space-around !important;
  box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
  -webkit-box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
  -moz-box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
}

.slider {
  margin: 2rem !important;
}
.imgCarousel {
  height: 12rem;
}

.txtCarousel {
  display: flex;
  justify-content: center;
  height: 3rem;
  background-color: rgba(43, 43, 42, 0.048);
  align-items: center;
  font-weight: bold;
}

.txtCarousel:hover {
  color: rgb(32, 202, 188);
}

.price-button {
  font-weight: bold;
  color: rgb(32, 202, 188);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}

.buttonCarousel {
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  background-color: rgb(25, 196, 196);
  border-radius: 5px;
  width: 64px;
}

.slick-track {
  width: 100%;
  height: 180px;
}
.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -20px;
}

/* SIGN IN, SIGN UP */

.signUpTittle h2, .signInTittle h2{
  font-weight: bold;
  color:#cfcfcf;
  font-size: 7vmin;
}

.signUpTittle h4, .signInTittle h4 {
  font-size: 3vmin;
}

.signUpBack, .signInBack {
  background-repeat: no-repeat;
  width: 100%;
  min-height: 90vh;
  background-size:cover;
  background-position:center center;
}
.signInBack, .signUpBack{
  min-height: 90vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.signInBack {
min-height: 86vh;
}

.signInTittle{
  padding: 2rem;
}

.formContainer, .formContainerSignIn{
  padding: 2rem 2rem;
  width:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formContainer form, .signInForm {
  width: 100%;
  display:flex;
  flex-direction: column;
}

form input, form select, .signInForm input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 90%;
}

.formButtons{
  display: flex;
  flex-direction: column;
}

.formButtons button {
  padding: .3rem 0;
  margin: .2rem;
}

form span, .signInForm span {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1vh;
  border: none;
  padding: 2vh 2vw;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 6px 3px rgba(175, 174, 174, 0.253);

}

.eyeIcon {
  cursor: pointer;
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 85%;
}

@media (max-width: 420px) {
  .products {
    width: 70%;
  }

  .filter{
    width: 30% !important;
  }

  .textFilter{
    margin-left: 1rem !important;
  }
}

@media (max-width: 353px) {
  .filter{
    width: 25% !important;
}
.textFilter{
  margin-left: 0.5rem !important;
}
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiperAtr {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 24rem;
  color: rgb(0, 0, 0);
  width: 230px;
  justify-content: space-around !important;
  box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
  -webkit-box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
  -moz-box-shadow: -1px 7px 25px -7px rgba(74, 70, 70, 0.67);
}

.swiperFather {
  display: flex;
  justify-content: center;
  width: 25%;
}

@media (max-width: 1110px) {
  .swiperFather {
        width: 33%;
  }
}

@media (max-width: 860px) {
  .swiperFather {
    width: 50%;
}
}

@media (max-width: 650px) {
  .swiperFather {
    width: 100%;
}
}
.txtCarouselProduct {
  display: flex;
  justify-content: center;
  height: 6rem;
  background-color: rgba(43, 43, 42, 0.048);
  align-items: center;
  font-weight: bold;
}

.filterProduct{
  display: flex;
  
}
.filter{
  width: 15%;
  margin-top: 5rem
}

.textFilter{
  margin-left: 3rem;
}